* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px;
}

p {
    display: flex;
    flex-wrap: nowrap;
}

.field {
    width: 100px;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.37);
    border-width: 0.1px;
    cursor: pointer;
    font-size: 70px;
}

.switch-marks {
    padding: 20px 50px;
    margin: 30px 7px;
    cursor: pointer;
}